<!-- Start footer -->
<footer>
    <div class="row">
        <div class="col s12 center">
            <h5 id="follow-us">NYT News - Mongoose Scraper</h5>
        </div>
    </div>
    <div class="footer-copyright center">
        <div>
            copyright © HSD
        </div>
    </div>
</footer>
<!-- End footer -->