<!-- Start navbar -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">NYT News Scraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
        <li><a class="waves-effect waves-light btn" class="scrape">Scrape Articles</a></li>
        </ul>
    </div>
</nav>
<!-- End navbar -->