{{>saved-header}}
<!--Start top parallax-->
<div class="parallax-container center valign-wrapper">
    <div class="rowOne">
        <div class="row">
            <div class="col s12 white-text">
                <h1>News Scraper</h1>
                <h3>NYT Edition</h3>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/photo-1551800659-1385059c89e5.jpg"></div>
</div>
<div class="section white content-container">
    <div class="row">
        <div class="col s12">
    
        </div>
    </div>
</div>
<!-- End of first section -->
{{>footer}}