{{>saved-header}}
<!--Start top parallax-->
<div class="parallax-container center valign-wrapper">
    <div class="rowOne">
        <div class="row">
            <div class="col s12 white-text">
                <h1>News Scraper</h1>
                <h3>NYT Edition</h3>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/photo-1551800659-1385059c89e5.jpg"></div>
</div>
<div class="section white content-container">
    <div class="row">
        <div class="col s12">
            {{#each data}}
                <div class="col s12" id="articles">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img class="articleImg" src= "{{imgSrc}}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h6 class="articleTitle"> {{title}}</h6>
                                <a class="waves-effect waves-light btn right deleteArticle" data-id="{{_id}}">Delete Article</a>
                                <a class="waves-effect waves-light btn right addNote">Add a Note</a>
                                <div class="clear"></div>
                            </div>
                            <div class="card-action">
                                <a class="articleLink" href="{{link}}" target="_blank">Read on NYT</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
    
        </div>
    </div>
</div>
<!-- End of first section -->
{{>footer}}